<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Session 2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstPage</display-name>
    <servlet-name>FirstPage</servlet-name>
    <servlet-class>FirstPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPage</servlet-name>
    <url-pattern>/FirstPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondPage</display-name>
    <servlet-name>SecondPage</servlet-name>
    <servlet-class>SecondPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondPage</servlet-name>
    <url-pattern>/SecondPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdPage</display-name>
    <servlet-name>ThirdPage</servlet-name>
    <servlet-class>ThirdPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdPage</servlet-name>
    <url-pattern>/ThirdPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FourthPage</display-name>
    <servlet-name>FourthPage</servlet-name>
    <servlet-class>FourthPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FourthPage</servlet-name>
    <url-pattern>/FourthPage</url-pattern>
  </servlet-mapping>
</web-app>